.App {
    min-height: 100vh;
}

.link:hover {
    border-bottom: 5px solid #00DDB5;
    transition: all ease 0.15s;
}

.text-cyan {
    color: #00DDB5;
    filter: brightness(0.90);
}

.butn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.4vh solid #00DDB5;
    height: 10vh;
    border-radius: 5vh;
    width: 50%;
    height: 10vh;
    transition: all ease 0.5s;
    padding: 2vh;
}
.butn-text {
    font-size: 4vh;
    font-weight: 500;
}

.butn{
    &:hover {

    background-color: #00DDB5;
    color: black;
    .arrow {
    filter: invert(1);
    transition: all ease-in-out 0.5s;
}
}
}

.arrow {
    font-size: 5vh;
    rotate: -45deg;
    padding: 2vh;
    background: white;
}

.dummy-image-l,
.dummy-image-r,
.dummy-image-bl,
.dummy-image-br {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    padding: 7px 7px 0 0;
}

.left-img,
.right-img,
.b-right-img,
.b-left-img {
    width: fit-content;
    border-radius: 50%;
}

.left-img {
    position: absolute;
    top: 5vh;
    left: 5vh;
    border-top: 3px solid #00DDB5;
    rotate: -45deg;
}

.right-img {
    position: absolute;
    top: 5vh;
    right: 5vh;
    border-top: 3px solid #00DDB5;
    rotate: 45deg;
}

.b-left-img {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
    border-top: 3px solid #00DDB5;
    rotate: 225deg;
}

.b-right-img {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    border-top: 3px solid #00DDB5;
    rotate: -225deg;
}

.dummy-image-l {
    rotate: 45deg;
}

.dummy-image-r {
    rotate: -45deg;
}

.dummy-image-bl {
    rotate: -225deg;
}

.dummy-image-br {
    rotate: 225deg;
}

.text-page {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image-container {
    position: relative;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.b-center-img {
    width: fit-content;
    border-radius: 50%;
    padding: 5vh;
    border-top: 3px solid #00DDB5;
    border-right: 3px solid #00DDB5;
    rotate: -45deg;
}

.cb-center-img {
    border-bottom: 3px solid #00DDB5;
    border-right: 3px solid #00DDB5;
    rotate: 90deg;
    padding: 3vh;
    border-radius: 50%;
}

.dummy-image {
    rotate: -45deg;
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
}

.play-butn {
    background-color: #00DDB5;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    animation-name: zoom-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes zoom-in-out {
    0% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.3);
    }

}

.service-heading {
    color: rgb(0, 0, 215);
    font-weight: bold;
}

.service-card {
    width: 300px;
    border-left: 1px solid white;
    border-bottom: 1px solid #00DDB5;
    border-top: 1px solid #00DDB5;
    border-right: 10px solid #00DDB5;
    padding: 25px 40px;
    border-radius: 15%;
    transition: all ease 0.3s;
    transform-style: preserve-3d;
}

.main-card {
    display: flex;
    justify-content: space-around;
    transition: all ease 0.3s;
    transform-style: preserve-3d;
}

.service-card {
    &:hover {
        border-right: 1px solid white;
        border-bottom: 1px solid #0d2cbe;
        border-top: 1px solid #0d2cbe;
        border-left: 10px solid #0d2cbe;

        /*  */
        .service-heading {
            color: #00DDB5;
            transition: 0.5s;
            transform: scale(0.8);

        }

        .card-imgs {
            transform: scale(1.5);
            transition: 0.3s;
        }

        .service-para {
            transition: 0.5s;
            transform: scale(1.1);
        }
    }
}

.empty-span {
    padding: 0 0.25vw;
    background-image: linear-gradient(to bottom, #00DDB5,
            #0d2cbe);
}

@media only screen and (max-width: 600px) {
    .dummy-image-l,
    .dummy-image-r,
    .dummy-image-bl,
    .dummy-image-br {
        height: 15vh;
        width: 15vh;
        border-radius: 50%;
        padding: 7px 7px 0 0;
    }

    .dummy-image {
        rotate: -45deg;
        border-radius: 50%;
        height: 30vh;
        width: 30vh;
    }
    .right-img ,.left-img{
        top: 6vh;
    }
    .b-right-img ,.b-left-img{
        bottom: 6vh;
    }
    .right-img ,.b-right-img{
        right: 0.5vh;
    }
    .left-img ,.b-left-img{
        left: 0.5vh;
    }
    .b-right-img ,.b-left-img{
        bottom: 6vh;
    }
}
@media only screen and (max-width: 500px) {
    .dummy-image {
        rotate: -45deg;
        border-radius: 50%;
        height: 20vh;
        width: 20vh;
    }
}

.arrow-box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.arrow-text{
    font-size: 5vh;
}
.text-arrow{
    background-color: lightgray;
    padding: 2.5vh;
    border-radius: 50%;
    color: white;
    rotate: -45deg;
    transition: 0.5s;
}
.hidden-text{
    font-size: 2.5vh;
    opacity: 0;
    transition: all ease 0.1s;
}
.arrow-box{
    
    &:hover{
        color: black;
        .text-arrow{
                background-color: #00DDB5;

            }
        .hidden-text {
            opacity: 1;
        }
    }
}
.arrow-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.spinner-x-box{
    width: fit-content;
    min-height: 50vh;
    position: relative;
    
}
.spinner-x-num{
    margin-top: 50px;
    font-size: 5vw;
    font-weight: bolder;
        background: linear-gradient(to bottom, #00DDB5, #00DDB5, black);
        background-clip: text;
        color: transparent;
}
.spinner-x-text{
    font-size: 1.5vw;
    text-align: center;
    
}
.spinner-x{
    margin: 5vh;
    border-radius: 25%;
    padding:5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.spinner-x-border{
    position: absolute;
    border-top: 1vw solid #0d2cbe;
    border-bottom: 1vw solid rgba(0, 0, 0, 0.327) ;
    width: 90%;
    height: 90%;
    border-radius: 40%;
    transition: all ease-in-out 0.7s;
    
}
.spinner-x-img{
    height: 7vh;
}

.spinner-x-box {

    &:hover {
        .spinner-x-border{transform: rotateX(180deg);}

        .spinner-x-img {
                transform: scale(1.3);
                transition: all ease-in-out 0.5s;
                filter: sepia(49%) saturate(5638%) hue-rotate(125deg) brightness(75%) contrast(101%);
            }
                .spinner-x-num {
                        background: linear-gradient(to bottom, #00DDB5, #00DDB5, #00DDB5);
                        background-clip: text;
                        color: transparent;
                        transform: scale(1.1);
                        transition: all ease-in-out 0.7s;
                }
                
    }
}

